<!DOCTYPE html>
<html>
<head>
  <title>Sundowners Backpackers: Swaziland's Most Luxurious Hostel</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ff0000">
</head>
<body>
  <div id='root'>
    <div id='loading-message' style='display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column;'>
      <h1>Hang tight!</h1>
      <h2>We are preparing everything for you</h2>
      <p>Swaziland sundowners website would reveal itself to you in all it's glory shortly ...</p>
    </div>
  </div>
</body>
</html>
