.imageBox {
  background-position: center;
  background-size: cover;
  position: relative;
}

.overlay {
  background-color: rgba(248, 248, 248, 0.8);
  height: 100%;
  opacity: 0;
  padding-top: 20px;
  text-align: center;
  transition: opacity 0.5s;
}

.imageBox:hover .overlay {
  opacity: 1;
}

.title {
  color: #777;
  padding-left: 10px;
  padding-right: 10px;
  transition: color 0.5s;
}

.title:hover {
  color: #333;
}

.moreContainer {
  bottom: 30px;
  left: 0;
  position: absolute;
  right: 0;
}

.more {
  border: 1px solid #333;
  border-radius: 20px;
  color: #777;
  padding: 8px 20px;
  transition: color 0.5s;
}

.more:hover {
  color: #333;
}
