.header {
  align-items: center;
  background: #fff;
  border-bottom: #e7e7e7 1px solid;
  display: flex;
  height: 80px;
  padding: 0 30px;
}

.logo {
  color: #9dbbdf;
  font-size: 50px;
}

.nav {
  margin-left: auto;
}

.navItem {
  float: left;
}

.navItem a {
  color: #9dbbdf;
  font-size: 20px;
  padding: 10px;
  transition: color 0.5s;
}

.navItem.activeNavItem a,
.navItem a:hover {
  color: #788ca5;
}
