.imageBox {
  float: left;
  height: 17vw;
  width: 25%;
}

@media (max-width: 960px) {
  .imageBox {
    height: 22.7vw;
    width: 33.3333333333%;
  }
}

@media (max-width: 700px) {
  .imageBox {
    height: 34vw;
    width: 50%;
  }
}

@media (max-width: 480px) {
  .imageBox {
    height: 68vw;
    width: 100%;
  }
}
